
$font-A: 'Montserrat', sans-serif;
$font-B: Helvetica, sans-serif;
$font-C: Helvetica, sans-serif;
$font-weight-A: 800;
$font-weight-B: 600;
$font-weight-C: 400;
$font-weight-D: 300;
$font-weight-E: 200;
$font-size-A: 32px;
$font-size-B: 19px;
$font-size-C: 16px;
$font-size-D: 15px;
$font-size-E: 13px;

$color-A: #141414;
$color-B: #3380FF;
$color-C: #141414;

$color-background-A: #fcfcfc;