@use 'global';

html {
  body {
    background-color: var(--color-background);
    color: var(--color-main);
  }
}

// Links without style

a.without-style {
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--color-actionable);
  }
}

// Links with style

a.with-style {
  text-decoration: none;
}

a.with-style {
  position: relative;
  padding-bottom: 4px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0; right: 0;
    height: 1px;
    color: var(--color-main);
    background-color: var(--color-main);
  }
  &:hover,
  &:focus {
    color: var(--color-actionable);
    &:before,
    &:after {
      background-color: var(--color-actionable);
    }
  } 
}