@use 'global';

$duration: .2s;
$distance: 10px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

html {
  body {
    background-color: var(--color-background);
    color: var(--color-main);
  }
}

a {
  color: var(--color-actionable);
  text-decoration: none;
}

a {
  position: relative;
  padding-bottom: 4px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0; right: 0;
    height: 2px;
    background-color: var(--color-actionable);
  }
  &:before {
    opacity: 0;
    transform: translateY(- $distance);
    transition: transform 0s $easeOutBack, opacity 0s;
  }
  &:after {
    opacity: 0;
    transform: translateY($distance/2);
    transition: transform $duration $easeOutBack, opacity $duration;
  }
  &:hover,
  &:focus {
    &:before,
    &:after {
      opacity: 0.4;
      transform: translateY(0);
    }
    &:before {
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:after {
      transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
  }
}