@use 'global';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; 
}
 
body {
    line-height: 1; 
}
  
ol, ul {
    list-style: none; 
}
  
blockquote, q {
    quotes: none; 
}
  
blockquote {
    &:before, &:after {
      content: '';
      content: none; 
    } 
}
  
q {
    &:before, &:after {
      content: '';
      content: none; 
    } 
}

table {
    border-collapse: collapse;
    border-spacing: 0; 
}

a {
  color: global.$color-A; 
  text-decoration: none;
}

/* custom */

// a:hover, a.active {
//   color: global.$color-B;
//   text-decoration: underline;
// }

$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

a {
  position: relative;
  padding-bottom: 4px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0; right: 0;
    height: 2px;
    background-color: global.$color-B;
  }
  &:before {
    opacity: 0;
    transform: translateY(- $distance);
    transition: transform 0s $easeOutBack, opacity 0s;
  }
  &:after {
    opacity: 0;
    transform: translateY($distance/2);
    transition: transform $duration $easeOutBack, opacity $duration;
  }
  &:hover,
  &:focus {
    &:before,
    &:after {
      opacity: 0.4;
      transform: translateY(0);
    }
    &:before {
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:after {
      transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
  }
}

html {
  font-family: global.$font-A;
  font-weight: global.$font-weight-D;
  font-size: global.$font-size-B;
  text-rendering: optimizeLegibility;
  line-height: 1.75;
  div {
    line-height: 1.75;
  }  
  background-color: global.$color-background-A;
  color: global.$color-A;
  -webkit-font-smoothing: antialiased;
  body {
    margin: 0 auto;
    max-width: 1500px;
    min-height: 110vh;
  }
}

header {
  margin: 0 8rem 0 8rem;
}

.content {
  margin: 4rem 8rem 0 8rem;
}

.main-title {
  // font-size: global.$font-size-A;
  font-size: 38px;
  font-weight: global.$font-weight-A;
}

.main-image {
  width: 200px;
  margin: 0 auto 4rem;
}

.main-social-links {
  font-size: global.$font-size-C;
  div {
    display: inline-block;
  }
  .main-social-links-separator {
    margin: 0 0.5rem 0 0.5rem;
  }
}

.avatar {
  vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 50%;
	border: 4px solid white;
  box-shadow: (0 1px 1px rgba(0,0,0,0.2));
  transition: 0.3s;
}

.avatar:hover {  
  transform: scale(1.05);
}

.main-description {
  margin-top: 20px;
}

.section-list {
  margin-top: 20px;
  ul {
    list-style-type: none;
  }
  li {
    margin-bottom: 10px;
  }
}

.section-list-title {
  font-weight: global.$font-weight-B;
  margin-top: 2rem;
}

.section-list-item-title {
  font-weight: global.$font-weight-C;
  div {
    display: inline-block;
  }
  .section-list-item-title-separator {
    font-weight: global.$font-weight-E;
    margin: 0 5px 0 5px;
  }
}

.section-list-item-subtitle {
  color: global.$color-C;
  font-size: global.$font-size-D;
}

.section-message {
  text-align: center;
}

@media (max-width: 979px) {
  body {
    // background-color: red;
  }
  
  .avatar {  
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .content {
    margin: 3rem 4rem 0 4rem;
  }

  header {
    margin: 0 4rem 0 4rem;
  }
}

@media (max-width: 767px) {

  html {
    font-size: global.$font-size-C;
  }

  body {
    // background-color: green;
  }

  header {
    margin: 0rem 2rem 0 2rem;
  }

  .main-title {
    font-size: global.$font-size-A;
  }

  .avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .main-image {
    margin: 0 auto 1.5rem;
  }

  .content {
    text-align: center;
    margin: 3rem 1.5rem 0 1.5rem;
  }
}