@use 'global';

nav {
  height: 80px;
  width: 100%;

  ul {
    float: right;
    margin-right: 20px;
    text-align: right;

    li {
      display: inline-block;
      line-height: 80px;
      margin: 0 15px;

      a {
        font-size: global.$font-size-C;
        padding: 7px;
      }
    }
  }
}

a.active, a:hover {
  font-weight: global.$font-weight-C;
  color: global.$color-B;
}

.checkbtn {
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
  
@media (max-width: 979px) {

}

@media (max-width: 767px) {
  .checkbtn {
    display: block;
  }
  
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px auto;
    line-height: 40px;
    text-align: center;
  }

  nav ul li a {
    color: white;
    font-size: global.$font-size-B;
  }

  a:hover, a.active {
    color: global.$color-B;
  }

  #check:checked ~ ul {
    left: 0;
  }
}